<!DOCTYPE HTML>
<html>
<head>
    {% include head.html %}
    <title>下载PPT资源文件</title>
    <script type="text/javascript">
        function checkAllBoxes() {
            // 获取所有的input元素，其中type为checkbox
            var checkboxes = document.querySelectorAll('input[name="option"]');
            var button = document.getElementById('submitButton');
            var allChecked = true;
            for (var i = 0; i < checkboxes.length; i++) {
                if (!checkboxes[i].checked) {
                    allChecked = false;
                    break;
                }
            }
            button.style.display = allChecked ? 'block' : 'none';
        }

        window.onload = function() {
            checkAllBoxes();
        }
    </script>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">
    <h3>请确认以下信息:</h3>

    <!-- 四个复选框 -->
    <label><input type="checkbox" name="option" onclick="checkAllBoxes()">我要下载的是<a href="https://www.bilibili.com/video/BV1W4cHeZErc" target="_blank">这个视频中</a>PPT的资源文件</label><br>
    <label><input type="checkbox" name="option" onclick="checkAllBoxes()">我知道这是整个工程文件打包</label><br>
    <label><input type="checkbox" name="option" onclick="checkAllBoxes()">我明白视频用的是“组合 合并.pptx”里面的显示屏由其他PPT导出</label><br>
    <label><input type="checkbox" name="option" onclick="checkAllBoxes()">转载请标明出处</label><br>

    <!-- 跳转按钮，初始状态下是隐藏的 -->
    <button id="submitButton" style="display:none;" onclick="location.href='https://www.123865.com/s/pvgrVv-wEuBh';">我要下载！</button>

    <!-- Footer -->
    {% include foot.html %}
</div>

<!-- Scripts -->
{% include scripts-main.html %}
{% include tracking.html %}

</body>
</html>
