<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">主页</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">博客</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">关于</a></li>
  <li class="{% if page.url contains '/blog/Friends/' %} active {% endif %}"><a href="{{ "/blog/Friends/" | absolute_url }}">友链</a></li>
  <li class="{% if page.url contains '/download/' %} active {% endif %}"><a href="{{ "https://mis1072-my.sharepoint.com/:f:/g/personal/tanxifei_mis1072_top/Ei7bKY6xkZVDpcdC7ynjuF0BYS6Z_6Q56aKH6zLDP8knyQ?e=JuT8am" | absolute_url }}">谭汐霏の一些资源下载</a></li> 
  <!-- <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li> -->
</ul>

<ul class="icons">
  <li><a href="https://space.bilibili.com/{{site.bilibili}}" class="icon fa-bilibili" rel="nofollow"><span class="label">哔哩哔哩</span></a></li>
  <!-- <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li> -->
  <!-- <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li> -->
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
